body {
    background: rgb(223, 223, 223);
}

main {
    padding-top: 35px;
}

a.nav-link {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}